<h1></a>{{project.title}}</h1>
<div class="description">
    <img src="/{{project.directory}}/screenshot.png" alt="{{project.title}}">
    <div class="text">{{project.description}}<a href="/{{project.directory}}">Look at it</a></div>
</div>
{{> nav}}
