<h2>Hey {{first}}, why don&#39;t you tell us a little bit more about yourself...</h2>
{{#if (isdefined alert)}}<div class="alert">...</div>{{/if}}
<form id="profile" action="/profile" method="post">
    <label for="age">Age</label>
    <input type="number" name="age" value="{{age}}">
    <label for="city">City</label>
    <input name="city" autocomplete="address-level2" value="{{city}}">
    <label for="url">Homepage</label>
    <input name="url" autocomplete="url" value="{{homepage}}">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">Continue</button>
</form>