<h1>Signers</h1>
<table class="signers">
    <tr>
        <th>name</th>
        <th>age</th>
        <th>city</th>
    </tr>
    {{#signers}}
    <tr>
        <td>
        {{#if (isdefined url)}}
            <a href="{{url}}" target="_blank">{{first}} {{last}}</a>
        {{else}}
            {{first}} {{last}}
        {{/if}}
        </td>
        <td>
            {{age}}
        </td>
        <td>
            <a href="/signers/{{city}}">{{city}}</a>
        </td>
    </tr>
    {{/signers}}
</table>
