<h1>Signers</h1>
<ul>
{{#signers}}
<li>
    {{#if (isdefined url)}}
        <a href="{{url}}" target="_blank">{{first}} {{last}}</a>
    {{else}}
        {{first}} {{last}}
    {{/if}} 
    {{age}} <a href="/signers/{{city}}">{{city}}</a>
</li>
{{/signers}}
</ul>