<h1>Signers</h1>
<div class="signers">
{{#signers}}
<div class="signer">
    {{#if (isdefined url)}}
        <a href="{{url}}" target="_blank">{{first}} {{last}}</a>
    {{else}}
        {{first}} {{last}}
    {{/if}} 
    {{age}} <a href="/signers/{{city}}">{{city}}</a>
</div>
{{/signers}}
</div>