{{#if (isdefined sign)}}
<h1>Thanks,{{name.first}} {{name.last}}, for signing the petition!</h1>
<img src="{{sign}}"  width="600" height="100" alt="signature">
<a href="/signers">See all the {{count}} signers</a>
{{else}}
<h1>Uh oh, something went wrong.</h1>
<a href="/">Please try again!</a>
{{/if}}